:root {
    --bg: rgb(206, 201, 207);
    --navbarbg: rgb(164, 0, 64);
  }
body{
    margin:50px;
    background: var(--bg);
    font-weight: 300;
    gap:2rem;
    min-height: 200vh;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    padding: 10px 0; 
}
main {
    margin-top: 120px; 
    padding: 20px;
}
iframe {
    display: block;
    width: 80%;
    height: 600px; 
    border: none; 
}

.container{
    width: 95%;
    margin: 0 auto;
    display:flex;
    align-items: center;
}
.canvas{
    width: 95%;
    margin: 30px auto;
    display:flex;
    align-items:center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.logo {
    max-width: 20%;
    height:auto;
    margin-right: auto;
}
.rotate-90{
    transform: rotate(-90deg);
}
.pdf{
    overflow-y: hidden;
}
nav{
    padding-left: 20px;
    transition: text-decoration 1s, background-color 1s;
    transition: top 0.3s;
}
.nav-list{
    margin: 0;
    padding: 15px 0;
    list-style:none;
    gap: 2rem;
    padding-block:2rem;
    font-size: 1.5rem;
}
.nav-list li{
    background: var(--navbarbg);
    margin-left: 20px;
    display: inline-block;
    border-radius: 100vw 100vw 100vw 100vw;
    border: 2px solid white;
}
.nav-list li.active {
    background: var(--bg);
}
.nav-list li.active a {
    text-decoration-color: var(--bg);
    color: var(--navbarbg);   
}
.nav-list a{
    display:inline-block;
    color: white;
    text-decoration:underline var(--navbarbg);
    text-align: center;
    border-radius: 100vw 100vw 100vw 100vw;
    transition: text-decoration-color 1s, background-color 1s;
    padding: 0.5rem 0.75rem;
    
}
.nav-list a:hover{
    color: var(--navbarbg);
    text-decoration-color: var(--navbarbg);
    border-radius: 100vw 100vw 100vw 100vw;
    background-color: var(--bg);
}



.navbarbutton {
    background-color: rgb(201, 199, 199);
    color: rgb(10, 20, 73);
    border: none;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.75s, box-shadow 0.25s;
    
}

.navbarbutton:hover{
    background-color: rgb(125, 153, 230);
    box-shadow: 3px 3px 3px rgb(141, 3, 99);
    
}

.navbarbutton:active {
    opacity: 0.7;
}
header{
    background: rgb(164, 0, 64);
}
.fraction {
    position: relative;
    display: inline-block;
    vertical-align: middle; 
  }
  .numerator {
    border-bottom: 2px solid black;
    text-align: center;
  }
  .denominator {
    text-align: center;
  }